header{
    align-items: center;
    // box-shadow:
    div{
        text-align: center;
        padding: 1em;
        width: 100%;
        background-color: $backgroundLight-color;
    }
}
.section-explore{
    background-color: lighten($backgroundLight-color, 5%);
    text-align: center;
    gap: 1em;
}
.section-functioning{
    ul{
        gap: 2em;
        margin: 2em 0;
    }
}
.section-restaurant{
    background-color: $backgroundLight-color;
    .restaurantList{
        margin: 1em 0;
        gap: 1em;
    }
}