//MEDIA QUERIES
@media screen and (min-width: 992px) {
  /*GLOBAL*/
  .functionning,
  .restaurant,
  footer {
    padding: 2em 5%;
  }
  footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 3em;
    h2 {
      margin-bottom: 0;
    }
    .footerContent {
      flex-direction: row;
      align-items: center;
      gap: 2em;
      li {
        display: flex;
        align-items: center;
      }
    }
  }
  .indexPage {
    /*EXPLORE*/
    .explore h2 {
      font-size: $desktop-L;
    }
    /*FUNCTIONNING*/
    .functionning ul {
      flex-direction: row;
      justify-content: center;
      gap: 0.5em !important;
      .step {
        width: 100%;
        div {
          display: flex;
          align-items: center;
          /*Les elements changent de taille en décalé*/
        }
      }
    }
    /*RESTAURANT*/
    .restaurant {
      .restaurantList {
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        .card {
          max-width: 48%;
        }
      }
    }
  }
  .menuPage {
    header {
      div i {
        margin-left: 1em;
      }
      img{
        height: 30em;
      }
    }
    .menu {
      width: 75%;
      margin: auto;
      padding: 2em 10%;
      .title {
        justify-content: center;
        gap: 1em;
      }
      .dish:hover > .dish__infos{
        min-width: 95%;
      }
      .dish:active > .dish__infos{
        min-width: 100%;
      }
    }
  }
}