//INDEXPAGE RESTAURANT CARDS
.restaurantList .card {
  width: 100%;
  background-color: white;
  border-radius: 1em;
  position: relative;
  &__img {
    height: 70%;
    img {
      height: 12em;
      width: 100%;
      object-fit: cover;
      border-radius: 1em 1em 0 0;
    }
  }
  &__new {
    background-color: $tertiary-color;
    color: darken($tertiary-color, 50%);
    // width: fit-content;
    // height: fit-content;
    padding: 0.5em 1em;
    border-radius: 0.25em;
    position: absolute;
    right: 3%;
    top: 5%;
  }
  &__txt {
    padding: 1em;
    justify-content: space-between;
    align-items: center;
    a {
      display: flex;
      flex-direction: column;
      gap: 0.5em;
    }
    i {
      font-size: x-large;
    }
  }
}
