/*Colors*/
/*Fonts Sizes*/
/*Loader*/
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
@keyframes loaderSpin {
  0% {
    transform: rotate(0deg);
    border-left: 0.25em solid #9356DC;
  }
  50% {
    border-left: 0.25em solid #FF79DA;
  }
  100% {
    transform: rotate(360deg);
    border-left: 0.25em solid #9356DC;
  }
}
@keyframes loaderDisplay {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  99% {
    z-index: 10;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}
/*Menu Dish Display*/
.starter {
  transform: translateX(-150%);
  animation: dishSlide 1s 0s forwards;
}

.mainCourse {
  transform: translateX(-150%);
  animation: dishSlide 1s 0.25s forwards;
}

.dessert {
  transform: translateX(-150%);
  animation: dishSlide 1s 0.5s forwards;
}

@keyframes dishSlide {
  0% {
    transform: translateX(-150%);
  }
  100% {
    transform: translateX(0);
  }
}
* {
  list-style-type: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "roboto", cursive;
}

body {
  width: 100%;
  height: 100%;
  margin: auto;
}

section, footer {
  padding: 2em 1em;
}

.logo {
  width: 200px;
  height: auto;
  padding: 1em;
}

h1, h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
}

p {
  font-size: 16px;
}

a {
  text-decoration: none;
  color: black;
}

i {
  margin-right: 0.5em;
}

.flexHorizontal {
  display: flex;
  flex-direction: row;
}

.flexVertical {
  display: flex;
  flex-direction: column;
}

footer {
  background-color: #353535;
  color: white;
}
footer h2 {
  font-size: 18px;
  font-family: "shrikhand", cursive;
  font-weight: 400;
  margin-bottom: 1em;
}
footer ul {
  gap: 0.5em;
}
footer a {
  color: white;
}

/*INDEXPAGE*/
.indexPage header {
  align-items: center;
}
.indexPage header div {
  box-shadow: inset 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 1em;
  width: 100%;
  background-color: #EAEAEA;
}
.indexPage .explore {
  background-color: #f7f7f7;
  text-align: center;
  gap: 1em;
}
.indexPage .functionning ul {
  gap: 2em;
  margin: 2em 0;
}
.indexPage .restaurant {
  background-color: #EAEAEA;
}
.indexPage .restaurant .restaurantList {
  margin: 1em 0;
  gap: 1em;
}

/*MENUPAGE*/
.menuPage header {
  margin-bottom: -3em;
}
.menuPage header div {
  justify-content: center;
}
.menuPage header div i {
  padding: 0.5em;
  font-size: x-large;
  position: absolute;
  align-self: center;
  left: 0.5em;
  top: 0.25em;
}
.menuPage header div .logo {
  width: 200px;
  height: auto;
}
.menuPage header img {
  height: 18em;
  object-fit: cover;
  z-index: -1;
}
.menuPage .menu {
  background-color: #EAEAEA;
  border-radius: 2em 2em 0 0;
}
.menuPage .menu .title {
  justify-content: space-between;
  align-items: center;
}
.menuPage .menu .title h1 {
  font-family: "shrikhand", cursive;
  font-weight: 400;
}
.menuPage .menu .title i {
  font-size: x-large;
}
.menuPage .menu .step {
  margin-top: 1em;
}
.menuPage .menu .step h2 {
  font-size: 18px;
  font-weight: 100;
  text-transform: uppercase;
}
.menuPage .menu .step hr {
  width: 3em;
  color: #99E2D0;
}
.menuPage .menu .step h3 {
  font-size: 16px;
}
.menuPage .menu .gradientButton {
  padding: 1em 3em;
}

.restaurantList .card {
  width: 100%;
  background-color: white;
  border-radius: 1em;
  position: relative;
}
.restaurantList .card__img {
  height: 70%;
}
.restaurantList .card__img img {
  height: 12em;
  width: 100%;
  object-fit: cover;
  border-radius: 1em 1em 0 0;
}
.restaurantList .card__new {
  background-color: #99E2D0;
  color: #1b6150;
  padding: 0.5em 1em;
  border-radius: 0.25em;
  position: absolute;
  right: 3%;
  top: 5%;
}
.restaurantList .card__txt {
  padding: 1em;
  justify-content: space-between;
  align-items: center;
}
.restaurantList .card__txt a {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.restaurantList .card__txt i {
  font-size: x-large;
}

.functionning .step {
  display: flex;
  align-items: center;
}
.functionning .step span {
  background-color: #9356DC;
  color: white;
  text-align: center;
  padding: 0.2em 0.5em;
  border-radius: 1em;
  margin-right: -0.75em;
  z-index: 1;
}
.functionning .step div {
  background-color: #EAEAEA;
  width: 100%;
  padding: 1.5em;
  border-radius: 1em;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.25);
}
.functionning .step div i {
  margin-right: 1em;
  color: #353535;
}
.functionning .step div:hover {
  background-color: #f2eafb;
}
.functionning .step div:hover i {
  color: #9356DC;
}

.dish {
  background-color: white;
  margin: 1em 0;
  border-radius: 1em;
  height: 4em;
  overflow: hidden;
}
.dish__infos {
  padding: 0.5em 1em;
  justify-content: space-between;
  min-width: 100%;
  transition: min-width 0.5s;
}
.dish__txt {
  justify-content: space-between;
  max-width: 90%;
}
.dish__txt h3, .dish__txt p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dish__price {
  align-self: last baseline;
}
.dish__check {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1em;
  background: #99E2D0;
  color: white;
  width: 15%;
}
.dish__check i {
  font-size: 1.5em;
  margin: 0;
}
.dish:hover > .dish__infos {
  min-width: 85%;
}

.likeIcons {
  position: relative;
}
.likeIcons .fullHeart {
  background-image: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.likeIcons .emptyHeart {
  position: absolute;
  left: 0;
  top: 0;
  background-color: white;
  transition: color 0.5s, background-color 0.5s;
}
.likeIcons .emptyHeart:hover {
  background-color: transparent;
  color: transparent;
}

.menuPage .emptyHeart {
  background-color: #EAEAEA;
}

.gradientButton {
  align-self: center;
  background: linear-gradient(#FF79DA, #9356DC);
  opacity: 1;
  color: white;
  margin: 1em 0;
  padding: 1em;
  border-radius: 1.5em;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.25);
  transition: opacity 0.5s, box-shadow 0.5s;
}
.gradientButton:hover {
  opacity: 0.8;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
}

.loader {
  opacity: 1;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 10;
  background: rgba(0, 0, 0, 0.5);
  font-size: 50px;
  justify-content: center;
  align-items: center;
  animation: loaderDisplay 3s ease-out forwards;
}
.loader__circle {
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 1em rgb(255, 255, 255);
  width: 5em;
  height: 5em;
  position: relative;
  border-radius: 50%;
  border-left: 0.25em solid #9356DC;
  animation: loaderSpin 3s linear;
}
.loader__text {
  font-size: 0.5em;
  position: absolute;
  background-image: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (min-width: 992px) {
  /*GLOBAL*/
  .functionning,
  .restaurant,
  footer {
    padding: 2em 5%;
  }
  footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 3em;
  }
  footer h2 {
    margin-bottom: unset;
  }
  footer .footerContent {
    flex-direction: row;
    align-items: center;
    gap: 2em;
  }
  footer .footerContent li {
    display: flex;
    align-items: center;
  }
  .indexPage {
    /*EXPLORE*/
    /*FUNCTIONNING*/
    /*RESTAURANT*/
  }
  .indexPage .explore h2 {
    font-size: 40px;
  }
  .indexPage .functionning ul {
    flex-direction: row;
    justify-content: center;
  }
  .indexPage .functionning ul .step {
    width: 100%;
  }
  .indexPage .functionning ul .step div {
    display: flex;
    align-items: center;
  }
  .indexPage .restaurant .restaurantList {
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .indexPage .restaurant .restaurantList .card {
    max-width: 48%;
  }
  .menuPage header img {
    height: 30em;
  }
  .menuPage .menu {
    width: 75%;
    margin: auto;
    padding: 2em 10%;
  }
  .menuPage .menu .title {
    justify-content: center;
    gap: 1em;
  }
  .menuPage .menu .dish:hover > .dish__infos {
    min-width: 95%;
  }
}

/*# sourceMappingURL=style.css.map */
