/*MENUPAGE*/
.menuPage {
  header {
    div {
      justify-content: center;
      i {
        padding: 0.5em;
        font-size: x-large;
        position: absolute;
        align-self: center;
        left: 0.5em;
        top: 0.25em;
      }
      .logo{
        width: 200px;
        height: auto;
      }
    }
    img {
      height: 18em;
      object-fit: cover;
      z-index: -1;
    }
    margin-bottom: -3em;
  }
  .menu {
    background-color: $backgroundLight-color;
    border-radius: 2em 2em 0 0;
    .title {
      justify-content: space-between;
      align-items: center;
      h1 {
        font-family: "shrikhand", cursive;
        font-weight: 400;
      }
      i {
        font-size: x-large;
      }
    }
    .step {
      margin-top: 1em;
      h2 {
        font-size: $mobile-M;
        font-weight: 100;
        text-transform: uppercase;
      }
      hr {
        width: 3em;
        color: $tertiary-color;
      }
      h3{
        font-size: $mobile-S;
      }
    }
    .gradientButton{
      padding:  1em 3em; 
    }
  }
}
