/*MENU*/
.menuPage {
  header {
    div {
      justify-content: center;
      i {
        padding: 0.5em;
        font-size: x-large;
        position: absolute;
        align-self: center;
        left: 0;
        top: 0.5em;
      }
    }
    img {
      height: 20em;
      object-fit: cover;
    }
  }
  .menu {
    background-color: $backgroundLight-color;
    border-radius: 2em;
    position: relative;
    top: -5em;
    .title {
      justify-content: space-between;
      align-items: center;
      h2 {
        font-family: "shrikhand", cursive;
      }
      i {
        font-size: x-large;
      }
    }
    .menu-step {
      margin-top: 1em;
      h3 {
        font-weight: 100;
      }
      hr {
        width: 2em;
        color: $tertiary-color;
      }
    }
    .gradientButton {
      align-self: center;
      margin: 1em 0;
      padding: 1em 3em;
    }
  }
}
