/*MENUPAGE*/
.menuPage {
  h2 {
    font-family: "shrikhand", cursive;
    font-weight: 400;
  }
  header {
    div {
      justify-content: center;
      i {
        padding: 0.5em;
        font-size: x-large;
        position: absolute;
        align-self: center;
        left: 0;
        top: 0.5em;
      }
    }
    img {
      height: 18em;
      object-fit: cover;
    }
  }
  .menu {
    background-color: $backgroundLight-color;
    border-radius: 2em;
    position: relative;
    top: -5em;
    .title {
      justify-content: space-between;
      align-items: center;
      i {
        font-size: x-large;
      }
    }
    .step {
      margin-top: 1em;
      h3 {
        font-weight: 100;
        text-transform: uppercase;
      }
      hr {
        width: 2em;
        color: $tertiary-color;
      }
    }
    .gradientButton{
      padding:  1em 3em; 
    }
  }
}
